<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <link rel="icon" href="https://www.dabanjia.com/favicon.ico" mce_href="http://www.dabanjia.com/favicon.ico"
    type="image/x-icon" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>登录</title>
  <style>
    html, body {
      padding: 0;
      margin: 0;
      width: 100%;
      height: 100%;
    }
    .container {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .loading-img {
      width: 40px;
      height: 40px;
    }
  </style>
</head>
<body>
  <div class="container">
    <img class="loading-img" src="https://ali-image.dabanjia.com/static/image/loading/loading-red-circle.gif">
  </div>
  <script src="./libs/base64.js"></script>
  <script src="<%= VUE_APP_GOME_SDK_APP %>"></script>
  <script src="https://ali-res.dabanjia.com/static/libs/vconsole/3.4.1/vconsole.min.js"></script>
  <script>
    new VConsole();
  </script>
  <script>
    function getPageParms() {
      var ret = {},
        seg = window.location.search.replace(/^\?/, '').split('&'),
        len = seg.length, i = 0, s;
      for (; i < len; i++) {
        if (!seg[i]) { continue; }
        s = seg[i].split('=');
        ret[s[0]] = s[1];
      }
      return ret;
    }
    function request(options) {
      var xhr = new XMLHttpRequest()
      xhr.withCredentials = true;
      xhr.onreadystatechange = function() {
        if (xhr.readyState === 4) {
          if (xhr.status === 200) {
            if (options.success) {
              options.success(xhr.responseText);
            }
          } else {
            if (options.error) {
              options.error(xhr.status);
            }
          }
        }
      }
      xhr.onerror = function(err) {
        if (options.error) {
          options.error(err);
        }
      }
      xhr.open(options.method, options.url)
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.send(JSON.stringify(options.data));
    }
    function redirectToWeb(token) {
      var hash = window.location.hash;
      var fromDbj = localStorage.getItem("fromDbj");
      if (fromDbj) {
        // 如果来自打扮家的域名，跳转打扮家域名的H5站
        localStorage.removeItem("fromDbj");
        if (token) {
          window.location.replace('<%= VUE_APP_MP_H5 %>/?token=' + token + hash);
        } else {
          window.location.replace('<%= VUE_APP_MP_H5 %>/?token=CLEAR' + hash);
        }
      } else {
        // 跳转gome域名的H5站
        if (token) {
          localStorage.setItem("scn", token);
        } else {
          localStorage.removeItem("scn");
          localStorage.removeItem("userId");
        }
        window.location.replace('/' + hash);
      }
    }
    function requestToken() {
      var url = '<%= VUE_APP_GOME_API %>/app/oauth/gome/loginByCookie';
      var params = {
        clientType: "3",
        clientCode: "APPLET"
      };
      request({
        url: url,
        data: params,
        method: "post",
        success: function(resText) {
          var res = JSON.parse(resText);
          console.log('success:', resText, res);
          if (res.data) {
            var data = res.data || {};
            redirectToWeb(data.accessToken);
          } else {
            // 读取cookie失败
            console.log('读取cookie失败', res);
            redirectToWeb();
          }
        },
        error: function(err) {
          console.error(err);
          redirectToWeb();
        }
      });
    }
    console.log('======bridge', window.GomeJSBridge, window.GomeJSBridge && window.GomeJSBridge.ready);
    // 是否在真快乐APP中
    if (window.GomeJSBridge && window.GomeJSBridge.ready) {
      var pageParams = getPageParms();
      if (pageParams.isLogin) {
        requestToken();
      } else {
        GomeJSBridge.ready(function() {
          console.log('========bridge ready', GomeJSBridge.login)
          GomeJSBridge.login(
            function(data) {
              console.log('========bridge login success', data, data.isLogined);
              if (data.isLogined === 'Y') {
                var loginedUrl = window.location.origin + window.location.pathname + '?isLogin=true' + window.location.hash;
                window.location.replace(loginedUrl);
              } else {
                redirectToWeb();
              }
            },
            function(err) {
              console.error('=======bridge login error:', err);
              redirectToWeb();
            },
            {
              refresh: false
            }
          );
        })
      }
    } else {
      // H5站的登录
      var pageParams = getPageParms();
      if (pageParams.fromDbj) {
        localStorage.setItem("fromDbj", "true");
      } else if (!pageParams.isLogin) {
        localStorage.removeItem("fromDbj");
      }
      if (pageParams.isLogin) {
        requestToken();
      } else {
        var backURL = window.location.origin + window.location.pathname + '?isLogin=true' + window.location.hash;
        window.location.replace('<%= VUE_APP_GOME_LOGIN %>?return_url=' + Base64.encode(backURL));
      }
    }
  </script>
</body>
</html>