.person-content-item{
  padding: 38rpx 32rpx 40rpx ;
  .title{
    font-size: 32rpx;
    font-weight: 500;
    color: #111;
    // margin-bottom: 32rpx;
  }
  .click-text{
    // width: calc(100% - 32rpx);
    text-align: center;
    font-size: 26rpx;
    color: #00BFB6;
    margin: 24rpx 0;
    text{
      vertical-align: middle;
      display: inline-block;
    }
    i{
      width: 26rpx;
      height: 26rpx;
      margin-left: 10rpx;
      // background-color: #eee;
      vertical-align: middle;
      display: inline-block;
    }
  }
  .empty{
    width: 100%;
    height: 220rpx;
    line-height: 220rpx;
    text-align: center;
    font-size: 26rpx;
    color: #999;
  }
  
}
